{% extends "blog/base.html" %}
{% block title %}Register | Lifelong Blog{% endblock %}
{% block meta_description %}Create a free account to comment and save your favorite posts.{% endblock %}
{% block og_title %}Join Lifelong Blog{% endblock %}
{% block og_description %}Sign up to follow our blog and stay updated on new content.{% endblock %}
{% block og_image %}/static/images/default.jpg{% endblock %}

{% block content %}
  <h2>Delete Account</h2>
  <p>This action is permanent. Your comments will remain visible but marked as [anonymous].</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Yes, delete my account</button>
    <a href="{% url 'home' %}">Cancel</a>
  </form>
{% endblock %}
